<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <!-- Вывод в консоль -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>
    
    <!-- Вывод в файл и на консоль -->
    <appender name="fileAndConsole"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>c:/logs/info.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>c:/logs/info.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

    </appender>

    <!-- Вывод в файл -->
    <appender name="file"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>c:/logs/info_file.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>c:/log/info_file.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

    </appender>

    <logger name="lopatin.Repository" level="info" additivity="false">
        <appender-ref ref="fileAndConsole"/>
    </logger>

    <logger name="lopatin.Service" level="info" additivity="false">
        <appender-ref ref="file"/>
    </logger>
    
    <logger name="lopatin.Converter" level="info" additivity="false">
        <appender-ref ref="console"/>
    </logger>

    <root level="info">
        <appender-ref ref="file"/>
    </root>

</configuration>
